{% extends "layout.html" %}
{% block content %}

<div class="page-header">
    <h2>Current Employee Activities</h2>
</div>

<div class="row" >
    <div class="col-md-12 ">
        <!-- TODO Construct a list view for this template @ lower screen widths -->
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Activity</th>
                <th>Comments</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email_address }}</td>
                <td>{{ employee.activity }}</td>
                <td>{{ employee.comments }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
